*{
	margin: 0px;
	padding:0px;
}
.container{
	font-size: 20px;
	font-weight: bold;
	color: white;
	position: absolute;
	width: 150px;
	height: 90px;
	display: inline-block;
}
.text{
	position: absolute;
	width: 150px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.text0{
	background: #76179e;
	z-index: 3;
}
.text1{
	background: red;
	z-index: 0;
	animation: text1 1.5s cubic-bezier(0.19, 0.35, 0.44, 1.17) infinite;
	transition: 0.1s;
}
.text2{
	background: green;
	z-index: 1;
	top: 30px;
}
.text3{
	background: blue;
	z-index: 3;
	animation: text3 1.5s cubic-bezier(0.19, 0.35, 0.44, 1.17) infinite;
	transition: 0.05s;
}
.text4{
	background: orange;
	z-index: 4;
}
.text3, .text4{
	top: 60px;
}
@keyframes text1 {
0%{top: 0px; left: 0px;z-index: 0}
55%{top: 30px; left: 0px;z-index: 2;}
100%{top: 30px; left: 0px;z-index: 2;}
}
@keyframes text3 {
0%{top: 60px; left: 0px;}
70%{top: 60px; left: 0px;}
100%{top: 30px; left: 0px;}
}