
.khung{
	font-size:40px;
	border-radius: 10px;
	background-color: #2396e7;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: auto;
	max-width: 200px;
	max-height: 130px;
}
.khung a{
	text-decoration: none;
	color:white;
}
.khung:hover{
	background: #24c197;
	border-radius: 10px;
}
